<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Emotion Detection</title>
    <!-- Reference the external JavaScript file from the static folder -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</head>
<body>

    <div id="dvd">
        <img src="/static/media/omg.gif">
    </div>
    <form id="myForm">
        <label for="largeTextArea">Enter Text:</label>
        <textarea id="largeTextArea" name="user_input" rows="5" cols="30"></textarea>
        <button type="button" id="submitButton" onclick="submitData()">Submit</button>
    </form>

    <div id="resultContainer"></div>

    <!-- <script src="{{ url_for('static', filename='script.js') }}"></script> -->


</body>
</html>