body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("../media/wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

#myForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
}

#resultContainer {
    color: yellow;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 69;

    display: grid;
    justify-content: center;
}

#newjeans {
    opacity: 0;
    z-index: 420;
}

@media only screen and (max-height: 1080px) {
   #newjeans img {
        max-width:50%;
        height: auto;
   }
  }
  